<section class="hero">
  
  <p>„Tedd próbára a tudásod, és játssz a győzelemért!”</p>
  <div class="actions">
    <a class="btn" href="/login">Bejelentkezés</a>
    <a class="btn outline" href="/register">Regisztráció</a>
  </div>
</section>
